.title-header h4 {
    background: #fff;
    color: #363636;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    border: 2px solid #28d094;
    border-radius: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: cursive;
}

.sign-in-container {
    height: 380px;
    width: 440px;
    background: #ffffff63;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: 0px 0px 13px 4px #25242494;
    position: absolute;
    margin: 0 auto;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
